<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Monitor.Properties.Settings.mastercafedbConnectionString2"
            connectionString="Data Source=.\MASTERCAFE;Initial Catalog=mastercafedb;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Monitor.Properties.Settings.mastercafedbConnectionString"
            connectionString="Data Source=.\MASTERCAFE;Initial Catalog=mastercafedb;User ID=sa;Password=pldifvzz7x"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>