<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Monitor.Properties.Settings.mastercafeConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mastercafedb;Persist Security Info=True;User ID=sa;Password=pospwd-2012;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="Monitor.Properties.Settings.mastercafedbConnectionString"
            connectionString="Data Source=.\MASTERCAFE;Initial Catalog=mastercafedb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Monitor.Properties.Settings.mastercafedbConnectionString1"
            connectionString="Data Source=MC-PC\MASTERCAFE;Initial Catalog=mastercafedb;User ID=sa;Password=pldifvzz7x"
            providerName="System.Data.SqlClient" />
        <add name="Monitor.Properties.Settings.mastercafedbConnectionString2"
            connectionString="Data Source=.\MASTERCAFE;Initial Catalog=mastercafedb;User ID=sa;Password=pldifvzz7x"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>